# DataFrameManager

django-pandas provides a custom manager to use with models that you want to render as Pandas Dataframes. The DataFrameManager manager provides the **to_dataframe** method that returns your models queryset as a Pandas DataFrame.

## to_dataframe

Returns a DataFrame from the QuerySet

**Parameters**

* **fieldnames**: The model field names to utilise in creating the frame to span a relationship, use the field name of related fields across models, separated by double underscores,

* **index**: specify the field to use for the index. If the index field is not in the field list it will be appended

* **coerce_float**: Attempt to convert the numeric non-string data like object, decimal etc. to float if possible
* **verbose**: If this is True then populate the DataFrame with the human readable versions of any foreign key or choice fields else use the actual value set in the model.

Connecting the Django project to iPython/Jupyter notebook.

In [1]:
import os
import sys
import django
sys.path.append("../")
os.environ['DJANGO_SETTINGS_MODULE'] = 'django_pandas_examples.settings'
django.setup()

In [2]:
from core.models import Employee

Create a dataframe using all the fields in your model as follows

In [3]:
qs = Employee.objects.all()

df = qs.to_dataframe()

In [4]:
df

   id          full_name  age department  wage
0   1  leonardo dicaprio   41  marketing   500
1   2        brie larson   26      sales  1000

This will include your primary key. To create a DataFrame using specified field names:

In [6]:
df = qs.to_dataframe(fieldnames=['age', 'department', 'wage'])

In [7]:
df

   age department  wage
0   41  marketing   500
1   26      sales  1000

To set full_name as the index

In [9]:
qs.to_dataframe(['age', 'department', 'wage'], index='full_name')

                   age department  wage
full_name
leonardo dicaprio   41  marketing   500
brie larson         26      sales  1000

You can use filters and excludes

In [10]:
qs.filter(age__gt=20, department='marketing').to_dataframe(index='full_name')

                   id  age department  wage
full_name
leonardo dicaprio   1   41  marketing   500