# IO Module

The django-pandas.io module provides some convenience methods to facilitate the creation of DataFrames from Django QuerySets.

## read_frame

**Parameters**

* **qs**: A Django QuerySet.

* **fieldnames**: A list of model field names to use in creating the DataFrame. You can span a relationship in the usual Django way by using double underscores to specify a related field in another model

* **index_col**: Use specify the field name to use for the DataFrame index. If the index field is not in the field list it will be appended

* **coerce_float** : Boolean, defaults to True Attempt to convert values to non-string, non-numeric objects (like decimal.Decimal) to floating point.

* **verbose**: If this is True then populate the DataFrame with the human readable versions of any foreign key or choice fields else use the actual values set in the model.

Connecting the Django project to iPython/Jupyter notebook.

In [1]:
import os
import sys
import django
sys.path.append("../")
os.environ['DJANGO_SETTINGS_MODULE'] = 'django_pandas_examples.settings'
django.setup()

In [16]:
from core.models import Employee
from django_pandas.io import read_frame

First create a query set:

In [15]:
qs = Employee.objects.all()

To create a dataframe using all the fields in the underlying model

In [4]:
df = read_frame(qs)

In [5]:
df

   id          full_name  age department  wage
0   1  leonardo dicaprio   41  marketing   500
1   2        brie larson   26      sales  1000

The df will contain human readable column values for foreign key and choice fields. The DataFrame will include all the fields in the underlying model including the primary key. To create a DataFrame using specified field names:

In [8]:
df = read_frame(qs, fieldnames=('age', 'wage', 'full_name'))

In [9]:
df

   age  wage          full_name
0   41   500  leonardo dicaprio
1   26  1000        brie larson

To set full_name as the DataFrame index

In [10]:
df = read_frame(qs, fieldnames=('age', 'wage', 'full_name'), index_col='full_name')

In [11]:
df

                   age  wage
full_name
leonardo dicaprio   41   500
brie larson         26  1000

To set department as the DataFrame index

In [13]:
df = read_frame(qs, fieldnames=('age', 'wage', 'full_name'), index_col='department')

In [14]:
df

            age  wage          full_name
department
marketing    41   500  leonardo dicaprio
sales        26  1000        brie larson